@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700&family=Cinzel:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-secondary text-night-text font-sans overflow-x-hidden;
  background-color: #1a1a1a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-display;
}